<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}GaïaSense Vision{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">
</head>

<body>
    <header>
        <h1>GaïaSense Vision</h1>
        <p>Analyse de sacs de culture |<a href="/?lang=fr" class="lang">FR</a> |
        <a href="/?lang=en" class="lang">EN</a></p>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p style="font-size: small;">&copy; 2025 - Projet IA Alyra - Naminsita, Maxime, Davy </p>
    </footer>
</body>

</html>